#home_page_content
  img(src='http://dl.dropbox.com/u/11288811/bandc_oneyear/lindsay-g_binary_glass_trans.png')

  h2 Beer &amp;&amp; Code is 1 Year Old!
  
  p
    | There are things in life we believe to be great. Chief among them are good
    | times with good friends and beer &amp;&amp; code along the way.
  
  p
    | Thank you for coming out to celebrate Beer &amp;&amp; Code with us and 
    | for helping us make this community a great place to be.
  
  ul
    li
      a(href='http://seattle.beerandcode.org') What is Beer &amp;&amp; Code?
    li
      a(href='/slides') Talk Slides