!!! 5
html
  head
    title Beer &amp;&amp; Code Seattle 1 Year Party
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster|Cabin:400,700,400italic')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    script(type='text/javascript', src='javascripts/application.js')
  body
    header
      a(href='/')
        h1 Beer &amp;&amp; Code Seattle
      p bits, beers, and buddies since 2010
    section#main!= body