#controls
  p
    a(href='#')#previous previous
    |  | 
    a(href='#')#next next

#slide_deck
  .slide#intro
    img(src='http://www.marcopolocruises.com/images/kids_party.jpg').slide_image
    h3 Welcome to the 1-Year Party
    h4 Order of Events
    ul
      li Mill-about-and-be-social time
      li Looking back, looking ahead
      li Collaboration opportunities
      li Do whatever you want, I'm not your boss

  .slide#looking_back_why
    h3 Looking Back
    h4 Why Start?
    ul
      li Passion for coding, but no community
      li Investing in the Seattle tech community
      li Expanding my development skills
      li Excuse to drink beer

  .slide#looking_back_goals
    h3 Looking Back
    h4 Goals
    ul
      li Create a community of talented and passionate developers
      li Encourage and grow social skills
      li Challenge and push each other
      li Help each other with dev problems
  
  .slide#looking_back_first_day
    img(src='http://places1.assets.gotime.com/211a8d321657095b55278c0917c1a0ed4cbe21e6_l.jpg').slide_image
    h3 Looking Back
    h4 First Day
    ul
      li Started in November 2010 @ Belltown Pub
      li First members were only Redditors
      li Awkward waitresses, but a good time overall
      li Started with mostly talking and not as much coding
    h4 Lessons Learned
    ul
      li Help people be social
      li Have reliable wireless
      li Order more beer when things get awkward

  .slide#looking_back_moving
    img(src='http://seattle.eater.com/uploads/Auto-Battery-Po-Dog.jpg', style='width: 350px;').slide_image
    h3 Looking Back
    h4 Moving to Capitol Hill
    ul
      li Share the love with more hoods
      li AutoBattery was and still is rad
      li PS: Po'Dog is the real reason we moved
      li Never popular with everybody
      li Lots of fresh, new faces
    
