#controls
  p
    a(href='#')#previous previous
    |  | 
    a(href='#')#next next

#slide_deck
  .slide#intro
    img(src='http://www.marcopolocruises.com/images/kids_party.jpg').slide_image
    h3 Welcome to the 1-Year Party
    h4 Order of Events
    ul
      li Looking back, looking ahead
      li Collaboration opportunities
      li Do whatever you want, I'm not your boss

  .slide#looking_back_why
    h3 Looking Back
    h4 Why Start?
    ul
      li Passion for coding, but no community
      li Investing in the Seattle tech community
      li Expanding my development skills
      li Excuse to drink beer

  .slide#looking_back_goals
    h3 Looking Back
    h4 Goals
    ul
      li Create a community of talented and passionate developers
      li Encourage and grow social skills
      li Challenge and push each other
      li Help each other with dev problems
  
  .slide#looking_back_first_day
    h3 Looking Back
    h4 First Day
    ul
      li Started in November 2010 @ Belltown Pub
      li First members were only Redditors
      li Awkward waitresses, but a good time overall
      li Started with mostly talking and not as much coding
