#controls
  p
    a(href='#')#previous previous
    |  | 
    a(href='#')#next next
    br
    span#position_indicator 

#slide_deck
  .slide#intro
    img(src='http://www.marcopolocruises.com/images/kids_party.jpg').slide_image
    h3 Welcome to the 1-Year Party
    h4 Order of Events
    ul
      li Mill-about-and-be-social time
      li Looking back, looking ahead
      li Collaboration opportunities
      li Do whatever you want, I'm not your boss
  
  .slide#who_am_i
    h3 Who the heck is this guy?
    ul  
      li David Pierce
      li Started Beer &amp;&amp; Code Seattle
      li Likes 
        ul
          li JavaScript
          li Node.js
          li Ruby (finally...)
          li C# (a little...)
          li F#
          li computers, music, food, and beer
      li Contact Stuff
        ul
          li Twitter | GitHub | IRC -> TheDahv
          li
            a(href='http://thedahv.no.de') Website
          li 
            a(href='mailto:david.dean.pierce@gmail.com') Email

  .slide#looking_back_why
    h3 Looking Back
    h4 Why Start?
    ul
      li Passion for coding, but no community
      li Investing in the Seattle tech community
      li Expanding my development skills
      li Excuse to drink beer

  .slide#looking_back_goals
    h3 Looking Back
    h4 Goals
    ul
      li Create a community of talented and passionate developers
      li Encourage and grow social skills
      li Inspire project ideas, and potentially collaborate
      li Challenge and push each other
      li Help each other with dev problems
      li Learn from each other
  
  .slide#looking_back_first_day
    img(src='http://places1.assets.gotime.com/211a8d321657095b55278c0917c1a0ed4cbe21e6_l.jpg').slide_image
    h3 Looking Back
    h4 First Day
    ul
      li November 2010 @ Belltown Pub with ~15 people
      li First members were only Redditors
      li Awkward waitresses, but a good time overall
      li Mostly talking and not as much coding
    h4 Lessons Learned
    ul
      li Be a good host. Help people be social
      li Have reliable wireless
      li Order more beer when things get awkward

  .slide#looking_back_moving
    img(src='http://seattle.eater.com/uploads/Auto-Battery-Po-Dog.jpg', style='width: 350px;').slide_image
    h3 Looking Back
    h4 Moving to Capitol Hill
    ul
      li Share the love with more hoods
      li AutoBattery was and still is rad
      li Never popular with everybody
      li Lots of fresh, new faces
    h4 Lessons Learned
    ul
      li Loyal to hood, or loyal to B&amp;&amp;C?
      li Can't please everybody
      li More people show up when you shake things up
  
  .slide#looking_back_website
    img(src='http://dl.dropbox.com/u/11288811/bandc_oneyear/bandc_site_screenshot.png', style='width: 300px;').slide_image

    h3 Looking Back
    h4 Building Our Site
    ul
      li Tired of repeating information and advertising
      li People seemed excited about potential
      li Not everybody wanted one
      li Supported our goals of building community
      li First B&amp;&amp;C team project
      li Learned a new technology: 
        a(href='http://jekyllrb.com/', target='_blank') Jekyll
      li 
        a(href='http://seattle.beerandcode.org', target='_blank') Easter Eggs!

  .slide#looking_back_team
    h3 Looking Back
    h4 Building a Team
    ul
      li Have a group of passionate, talented devs? Put 'em to work!
      li Lots of good ideas and willingness to help
      li IRC: Not so dead
      li Google Groups: More grown-up and formal than IRC
      li Core group emerged

  .slide#looking_back_thanks
    h3 Looking Back
    h4 Credit Where Credit Is Due
    ul
      li Scott Moak -> Jekyll guru
      li Dustin Venegas -> Server provider
      li Beau Simensen -> Jolly imparter of wisdom
      li Jason -> Helped run B&amp;&amp;C when I couldn't go
      li Mike Judge -> Capitol Hill instigator (more on that later...)
      li 
        a(href='http://substantial.com/', target='_blank') Substantial
        |  -> Awesome company that likes B&amp;&amp;C
      li Brandon Fallout -> SLU instigator (more on that later...)
      li Motley Crew of IRC campers
      li Everybody that kept showing up

  .slide#looking_back_moving_again
    img(src='http://nomadicfoodie.com/wp-content/uploads/2011/03/Feierabend.jpg', style='width: 350px;').slide_image
    h3 Looking Back
    h4 Moving to SLU
    ul
      li Continuing to share the love with more hoods
      li Some philisophical differences
      li Fractured community vs. Growing community
      li Moved into the awesome Feierabend for B&amp;&amp;C SLU
      li Currently hosted at Lunchbox Laboratory
      li Many thanks to Brandon Fallout

  .slide#looking_back_multisite
    h3 Looking Back
    h4 Multi-site Beer &amp;&amp; Code
    p(style='font-style: italic;') What happens when Mike Judge creates a renegade group?
    ul        
      li A little scary at first, but ultimately awesome
      li Easier to go to one close to home
      li Good excuse to see a new hood
      li Created a relationship with Substantial. Many thanks to Mike and Co.
      li Different flavors of community evolve
      li Missed it last week? That's fine -> Staggered events
      li Does this still confuse people? Why? Let's fix that.
    p(style='font-weight: bold;') Verdict: This is a Good Thing
  
  .slide#where_we_are_now
    h3 Where We Are Now
    ul
      li My baby doesn't need me anymore (Hint: this is a Good Thing)
      li Site leaders are taking ownership of their branches
      li Multi-site is going well      
      li Friendships beyond Beer &amp;&amp; Code
      li Figured out how to be female-friendly without doing anything
      li Some collaboration is happening -> &quot;Brain Project&quot;
      li Web site is getting stale
      li What role&ndash;&ndash;if any&ndash;&ndash;do we play in our community?
  
  .slide#future_goals
    h3 Looking Ahead
    h4 Future Goals (aka "It would be cool if this happened next year")
    ul
      li Beer &amp;&amp; Code Presents
      li Better website to promote more community
      li More collaboration and projects born in B&amp;&amp;C
      li More investment in Seattle and tech community
        ul
          li Volunteering Opportunities
          li
            a(href='http://seattlegivecamp.org/') Seattle GiveCamp
          li 
            a(href='http://railsbridge.org/en', target='_blank') RailsBridge
          li Tutoring
  .slide#future_goals_2
    h3 Looking Ahead
    h4 Future Goals (aka "It would be cool if this happened next year")
    ul  
      li Figure out our relationship with professional community
      li More teaching, presenting, and sharing
      li More sites
        ul
          li Belltown&ndash;&ndash;Q4 2011
          li Kyiv, Ukraine
          li West Seattle? U-District? Ballard?
      li More community leaders

  .slide#new_website
    h3 Looking Ahead
    h4 New Beer &amp;&amp; Code Website
    ul
      li Working with and learning 
        a(href='http://nodejs.org') node.js
      li Community-enabling features
        ul
          li Profiles
          li Project sharing
          li Job board
          li Better caldendar
      li Collaboration opportunity
      li Code, feature ideas, and the like -> 
        a(href='https://github.com/BeerAndCodeSeattle/BeerAndCode/tree/BeerAndCodeNode') Beer &amp;&amp; Code on GitHub 
  
  .slide#how_to_help
    h3 Looking Ahead
    h4 How You Can Help
    ul
      li Fork it and get going!
      li Keep coming to Beer &amp;&amp; Code
      li Participate in deeper community
        ul
          li IRC -> #BeerAndCodeSeattle @ irc.freenode.net
          li
            a(href='https://groups.google.com/forum/#!forum/beer-code-seattle') Google Group
          li 
            a(href='https://github.com/BeerAndCodeSeattle/BeerAndCode/issues') GitHub issues page

  .slide(style='text-align: center;')#omg_the_end
    h3 Thanks!
    p Beer &amp;&amp; Code wouldn't exist if people like you didn't come hang out
    p Thanks for being a part of making this happen
    p I look forward to another year of Beer &amp;&amp; Code
    img(src='http://dl.dropbox.com/u/11288811/bandc_oneyear/beer_and_code_logo.png')