/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* Font and vertical rhythm */
body {
  height: 100%;
  line-height: 31.5px;
  text-align: center;
  font-family: "Cabin", Helvetica, sans-serif;
  font-size: 21px;
  background-color: #f3f4eb;
  color: #412919;
}
a,
a:visited {
  color: #412919;
}
h1,
h2,
h3,
h4 {
  font-family: "Lobster", Arial, sans-serif;
}
h1 {
  font-size: 59.97810000000001px;
  margin: 16.5435383915129px 0;
}
h2 {
  font-size: 46.13700000000001px;
  margin: 21.50659990896677px 0;
}
h3 {
  font-size: 35.49px;
  margin: 27.958579881656803px 0;
}
h4 {
  font-size: 27.3px;
  margin: 36.34615384615384px 0;
}
p {
  margin: 31.5px 0;
}
header {
  z-index: 9999;
  height: 150px;
  padding: 20px 0 10px 0;
  background-color: #412919;
}
header h1 {
  padding: 20px;
  color: #f4ac00;
}
header p {
  font-style: italic;
  color: #f3f4eb;
}
#main {
  padding: 60px 0;
  margin: 0 auto;
  width: 960px;
}
#home_page_content {
  text-align: left;
}
#home_page_content img {
  float: right;
  margin-left: 16px;
  height: 600px;
}
#home_page_content ul {
  list-style: none;
}
/* Slide show stuff */
#controls {
  position: relative;
  top: -70px;
  z-index: 9999;
}
#slide_deck {
  overflow: hidden;
  width: 100%;
  height: 80%;
  left: 0;
  top: 80px;
  position: absolute;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
.slide.current {
  visibility: visible;
  display: block;
  margin-left: -380px;
}
.slide.future {
  visibility: visible;
  display: block;
  margin-left: 500px;
}
.slide.far_future {
  display: block;
  margin-left: 1500px;
}
.slide.past {
  visibility: visible;
  display: block;
  margin-left: -1400px;
}
.slide.far_past {
  display: block;
  margin-left: -2400px;
}
.slide {
  display: none;
  position: absolute;
  left: 50%;
  top: 25%;
  overflow: hidden;
  width: 700px;
  height: 500px;
  background-color: #fff;
  text-align: left;
  padding: 31.5px 31.5px;
  -webkit-box-shadow: 1px 1px 2px 1px #333;
  -moz-box-shadow: 1px 1px 2px 1px #333;
  box-shadow: 1px 1px 2px 1px #333;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-transition: margin 0.25s ease-in-out;
  -moz-transition: margin 0.25s ease-in-out;
  -o-transition: margin-left 0.25s ease-in-out;
  transition: margin 0.25s ease-in-out;
  border-radius: 8px;
}
.slide ul {
  margin-left: 27.958579881656803px;
}
.slide_image {
  float: right;
  margin-top: 31.5px;
}
